.book-cell {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}


.dl-horizontal {
  margin-right: 10%;
  margin-left: 10%;


  dt {
    text-align: left;
    width: 100px;
  }

  dd {
    margin-left: 150px
  }


}

.number-ordered {
  padding-left: 0px;

  h4 {
    margin-top: 0px;
  }

  h3 {
    text-align: center;
    padding-right: 13px;
  }
}

.order-buttons {
  .col-md-12 {
    margin-bottom: 10px;
  }

  .btn-info.raised {
    box-shadow: 0 3px 0 0 #007299;
  }
  
  .btn-info.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
  }
}

#index {
  #header {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
