#show {

  #books-def {
    margin-top: 15px;
    margin-bottom: 20px
  }

  #user-info-update {

    dl {
      margin-left: 0px;
    }

    dt {
      padding-top: 5px;
      margin-bottom: 15px
    }

    dd {
      margin-bottom: 15px
    }

    #update {
      width: 100%;
    }
  }
  
}


